button{
    background-color: #191919;
    color: white;
    transition: .3s;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    
}
button:hover{
    background-color: #0a702e;
}